<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gjj.gd.materialdesign_v7">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".toolbar.JichuActivity" />
        <activity
            android:name=".toolbar.ZhifuActivity"
            android:theme="@style/Theme.Toolbar.ZhiHu"/>
        <activity
            android:name=".ColorPaletteActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".toolbar.ToolbarInstance1Activity"
            android:theme="@style/Theme.Toolbar.ZhiHu"/>
        <activity
            android:name=".toolbar.ToolbarInstance2Activity"
            android:theme="@style/Theme.Toolbar.ZhiHu"/>
        <activity
            android:name=".toolbar.ToolbarInstance3Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".constraintlayout.ConstraintlayoutActivity"/>
        <activity android:name=".tablayout.TabLayoutActivity"/>
        <activity android:name=".tablayout.TbCustomeTabViewActivity"/>
        <activity android:name=".toolbar.ToolBarActivity"/>
        <activity android:name=".tablayout.AllTabLayoutActivity"/>
        <activity android:name=".coordinatorlayout.CoordinatorLayoutActivity"/>
        <activity android:name=".coordinatorlayout.BehaviorInstance1Activity"/>
        <activity android:name=".coordinatorlayout.CombineSnackbarActivity"/>
        <activity
            android:name=".coordinatorlayout.TestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".snackbar.SnackBarActivity"/>
        <activity android:name=".cardview.CardViewActivity"/>
        <activity
            android:name=".fab.FabActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".appbarlayout.AppbarLayoutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".textinputlayout.TextInputLayoutActivity"/>
        <activity android:name=".recyclerview.ClassifyActivity"/>
        <activity android:name=".recyclerview.RecyclerViewMainActivity"/>
        <activity android:name=".recyclerview.RefreshAndLoadMoreActivity"/>
        <activity android:name=".recyclerview.HeaderAndFooterActivity"/>
        <activity
            android:name=".activity.ZFBHomePagePullUpActivity"
            android:label="@string/title_activity_zfbhome_page_pull_up"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>