<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gjj.gd.materialdesign_v7">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".toolbar.JichuActivity"/>
        <activity
            android:name=".toolbar.ZhifuActivity"
            android:theme="@style/Theme.Toolbar.ZhiHu">
        </activity>
        <activity
            android:name=".ColorPaletteActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".toolbar.ToolbarInstance1Activity"
            android:theme="@style/Theme.Toolbar.ZhiHu">
        </activity>
        <activity
            android:name=".toolbar.ToolbarInstance2Activity"
            android:theme="@style/Theme.Toolbar.ZhiHu">
        </activity>
        <activity
            android:name=".toolbar.ToolbarInstance3Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".constraintlayout.ConstraintlayoutActivity">
        </activity>
        <activity android:name=".tablayout.TabLayoutActivity">
        </activity>
        <activity android:name=".tablayout.TbCustomeTabViewActivity">
        </activity>
        <activity android:name=".toolbar.ToolBarActivity">
        </activity>
        <activity android:name=".tablayout.AllTabLayoutActivity">
        </activity>
        <activity android:name=".coordinatorlayout.CoordinatorLayoutActivity">
        </activity>
        <activity android:name=".coordinatorlayout.BehaviorInstance1Activity">
        </activity>
        <activity android:name=".coordinatorlayout.CombineSnackbarActivity">
        </activity>
        <activity
            android:name=".coordinatorlayout.TestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".snackbar.SnackBarActivity">
        </activity>
        <activity android:name=".cardview.CardViewActivity">
        </activity>
        <activity
            android:name=".fab.FabActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".appbarlayout.AppbarLayoutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".textinputlayout.TextInputLayoutActivity">
        </activity>
    </application>

</manifest>