<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gjj.gd.materialdesign_v7">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".widget_study.toolbar.JichuActivity" />
        <activity
            android:name=".widget_study.toolbar.ZhifuActivity"
            android:theme="@style/Theme.Toolbar.ZhiHu" />
        <activity
            android:name=".ColorPaletteActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".widget_study.toolbar.ToolbarInstance1Activity"
            android:theme="@style/Theme.Toolbar.ZhiHu" />
        <activity
            android:name=".widget_study.toolbar.ToolbarInstance2Activity"
            android:theme="@style/Theme.Toolbar.ZhiHu" />
        <activity
            android:name=".widget_study.toolbar.ToolbarInstance3Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".widget_study.constraintlayout.ConstraintlayoutActivity" />
        <activity android:name=".widget_study.tablayout.TabLayoutActivity" />
        <activity android:name=".widget_study.tablayout.TbCustomeTabViewActivity" />
        <activity android:name=".widget_study.toolbar.ToolBarActivity" />
        <activity android:name=".widget_study.tablayout.AllTabLayoutActivity" />
        <activity android:name=".widget_study.coordinatorlayout.CoordinatorLayoutActivity" />
        <activity android:name=".widget_study.coordinatorlayout.BehaviorInstance1Activity" />
        <activity android:name=".widget_study.coordinatorlayout.CombineSnackbarActivity" />
        <activity
            android:name=".widget_study.coordinatorlayout.TestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".widget_study.snackbar.SnackBarActivity" />
        <activity android:name=".widget_study.cardview.CardViewActivity" />
        <activity
            android:name=".widget_study.fab.FabActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".widget_study.appbarlayout.AppbarLayoutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".widget_study.textinputlayout.TextInputLayoutActivity" />
        <activity android:name=".recyclerview.ClassifyActivity" />
        <activity android:name=".recyclerview.RecyclerViewMainActivity" />
        <activity android:name=".recyclerview.RefreshAndLoadMoreActivity" />
        <activity android:name=".recyclerview.HeaderAndFooterActivity" />
        <activity
            android:name=".activity.ZFBHomeTelescopicActivity"
            android:label="@string/title_activity_zfbhome_page_pull_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ComprehensiveExampleActivity" />
        <activity android:name=".recyclerview.AddRemoveItemActivity" />
        <activity
            android:name=".activity.CopyAirbnbAppHomeNavActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.Instance3Activity"
            android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>